body{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'barca';
    src: url(./item/barcelona.ttf);
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #021050;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-conten{
    width: 470px;
    height: 600px;
    
    text-align: center;
    display: block;
    margin: auto;
}
.logo{
    display: flex;
    margin: auto;
}
.logo img{
    margin: auto;
    display: block;
}

/* titel */
.login-form{
    display: block;
}
.titel{
    font-family: 'barca';
    font-size: 45px;
    color: #ffbc00;
}

.fb-btn{
    width: 326px;
    border-radius: 2px;
    margin: 11px;
    align-items: center;
    background-color: #ffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.email-btn{
    width: 369px;
    height: 43px;
    border-radius: 2px;
    margin: 50px;
    align-items: center;
    border: 1px solid #ffbc00;
    background: none;
    outline: none;
}
.teks-email{
    color: white;
    
}
.submit-button{
    width: 326px;
    height: 43px;
    border-radius: 2px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    background-color: #ffbc00;
    border: none;
}
.submit-button:hover{
    background-position: right center;
    background-color: #e7f081;
    
}
.teks-submit{
    font-family: 'barca';
    font-size: 20px;
}
.fb-btn:hover{
    background-color: rgb(249, 246, 246);
}
.fb-btn:active{
    background-color: #ffbc00;
}
.fb-icon{
    float: left;
    margin-left: 50px;
}
.teks-fb{
    float: right;
    margin-top: 14px;
    margin-right: 70px;
    font-weight: 500;
}

@media screen and (max-width:600px) and (orientation:landscape) {
     .email-btn{
        width: 326px;
        height: 43px;
        border-radius: 2px;
        align-items: center;
        border: 1px solid #ffbc00;
        background: none;
        outline: none;
    }
    .titel{
        font-size: 25px;
    }
    .container{
        width: 100%;
        max-width: 600px;
        height: 100%;
        background-color: #021050;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}